<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #chequeBookForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="chequeBook.id">{{l("EditChequeBook")}}</span>
                        <span *ngIf="!chequeBook.id">{{l("CreateNewChequeBook")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row mt-2">
                        <div class="col-md-2">
                            <label for="ChequeBook_DocNo">{{l("DocNo")}}</label>
                            <input type="number" id="ChequeBook_DocNo" class="form-control form-control-sm"
                                [(ngModel)]="chequeBook.docNo" name="DocNo" disabled required />
                        </div>
                        <div class="col-md-2">
                            <label for="ChequeBook_DocDate">{{l("DocDate")}}</label>
                            <input class="form-control form-control-sm" type="datetime" bsDatepicker
                                [(ngModel)]="docDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                id="ChequeBook_DocDate" name="ChequeBook_DocDate" required />
                        </div>
                        <div class="col-md-3">
                            <label for="ChequeBook_BANKID">{{l("BANKID")}}</label>
                            <div class="input-group">
                                <input type="text" style="background-color:#F4F4F4;" id="ChequeBook_BANKID"
                                    class="form-control form-control-sm" [(ngModel)]="chequeBook.bankid" name="BANKID"
                                    minlength="0" maxlength="5" readonly required />
                                <div class="input-group-append">
                                    <button class="btn btn-primary blue btn-sm" type="button"
                                        (click)="openBankModal()"><i class="fa fa-search"></i>
                                        {{l("Pick")}}</button>
                                </div>
                                <div class="input-group-prepend">
                                    <button class="btn btn-danger btn-icon btn-sm" type="button"
                                        (click)="setBankIdNull()"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="ChequeBook_BANKNAME">{{l("BANKNAME")}}</label>
                            <input class="form-control form-control-sm" id="ChequeBook_BANKNAME" name="bankName"
                                [(ngModel)]="chequeBook.bankName" type="text" disabled />
                        </div>
                    </div>


                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label for="ChequeBook_FromChNo">{{l("FromChNo")}}</label>
                            <input type="text" id="ChequeBook_FromChNo" class="form-control form-control-sm"
                                [(ngModel)]="chequeBook.fromChNo" name="FromChNo" minlength="0" maxlength="50"
                                required />
                        </div>
                        <div class="col-md-4">
                            <label for="ChequeBook_NoofCh">{{l("NoofCh")}}</label>
                            <input type="number" id="ChequeBook_NoofCh" class="form-control form-control-sm"
                                [(ngModel)]="chequeBook.noofCh" name="NoofCh" required />
                        </div>
                        <div class="col-md-4">
                            <label for="ChequeBook_ToChNo">{{l("ToChNo")}}</label>
                            <input type="text" id="ChequeBook_ToChNo" class="form-control form-control-sm"
                                [(ngModel)]="chequeBook.toChNo" name="ToChNo" minlength="0" maxlength="50" disabled/>
                        </div>
                    </div>


                    <div class="row mt-2">
                        
                    </div>

                    <div class="clearfix ">

                        <span class="float-left">
                            <div class="m-checkbox-list" style="margin: 19.5px 0px 13px;padding: 6.5px 13px;">
                                <label for="ChequeBook_Active" class="kt-checkbox">
                                    <input type="checkbox" id="ChequeBook_Active" name="Active"
                                        [(ngModel)]="chequeBook.active">
                                    {{l("Active")}}
                                    <span></span>
                                </label>
                            </div>
                        </span>

                        <span class="float-right">
                            <div class="col-md-6">
                                <button class="btn btn-primary mt-4 mb-3 btn-sm" type="button" (click)="onProcess()"
                                    [disabled]="!chequeBookForm.form.valid">Process</button>
                            </div>
                        </span>

                    </div>

                    <br>

                    <div class="row col-md-12">
                        <br>
                        <ag-grid-angular style="width: 100%; height: 200px;" class="ag-theme-balham" [rowData]="rowData"
                            [columnDefs]="columnDefs" [animateRows]="true" [suppressDragLeaveHidesColumns]="true"
                            (gridReady)="onGridReady($event)">
                        </ag-grid-angular>
                    </div>
                    <br>


                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!chequeBookForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>
<commonServiceLookupTableModal #bankfinderModal (modalSave)="getNewbank()"></commonServiceLookupTableModal>
