<div
    bsModal
    #viewCreditDebitNoteModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="viewCreditDebitNoteModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l("Details") }}</span>
                </h4>
                <button
                    type="button"
                    class="close"
                    (click)="close()"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l("locID") }} :</h6>
                        {{ item?.creditDebitNote.locID }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l("locName") }} :</h6>
                        {{ item?.creditDebitNote.locName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l("DocNo") }} :</h6>
                        {{ item?.creditDebitNote.docNo }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l("DocDate") }} :</h6>
                        {{
                            item?.creditDebitNote.docDate
                                | momentFormat: "L"
                                | date: "dd/MM/yyyy"
                        }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    [disabled]="saving"
                    type="button"
                    class="btn btn-primary blue"
                    (click)="close()"
                >
                    {{ l("Close") }}
                </button>
            </div>
        </div>
    </div>
</div>
