<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("RecurringVouchers")}}</span>
            </h3>
            <!-- <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("RecurringVouchersHeaderInfo")}}
            </span> -->
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i>
                    {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.RecurringVouchers.Create')" (click)="createRecurringVoucher()"
                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewRecurringVoucher")}}</button>
            </div>
        </div>

    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getRecurringVouchers()" class="btn btn-primary"
                                                type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="kt-separator kt-separator--border-dashed"></div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinDocNoFilter">{{l("DocNo")}}</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinDocNoFilter"
                                            [(ngModel)]="minDocNoFilter" placeholder="{{l('From')}}"
                                            name="minDocNoFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxDocNoFilter"
                                            placeholder="{{l('To')}}" name="maxDocNoFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="BookIDFilter">{{l("BookID")}}</label>
                                    <input type="text" class="form-control" id="BookIDFilter" name="bookIDFilter"
                                        [(ngModel)]="bookIDFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinVoucherNoFilter">{{l("VoucherNo")}}</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinVoucherNoFilter"
                                            [(ngModel)]="minVoucherNoFilter" placeholder="{{l('From')}}"
                                            name="minVoucherNoFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxVoucherNoFilter"
                                            placeholder="{{l('To')}}" name="maxVoucherNoFilter" />
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <label for="FmtVoucherNoFilter">{{l("FmtVoucherNo")}}</label>
                                    <input type="text" class="form-control" id="FmtVoucherNoFilter"
                                        name="fmtVoucherNoFilter" [(ngModel)]="fmtVoucherNoFilter">
                                </div>
                            </div> -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinVoucherDateFilter">{{l("VoucherDateRange")}}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinVoucherDateFilter"
                                            name="MinVoucherDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('From')}}" [(ngModel)]="minVoucherDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxVoucherDateFilter"
                                            name="MaxVoucherDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('To')}}" [(ngModel)]="maxVoucherDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinVoucherMonthFilter">{{l("VoucherMonth")}}</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinVoucherMonthFilter"
                                            [(ngModel)]="minVoucherMonthFilter" placeholder="{{l('From')}}"
                                            name="minVoucherMonthFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxVoucherMonthFilter"
                                            placeholder="{{l('To')}}" name="maxVoucherMonthFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinConfigIDFilter">{{l("ConfigID")}}</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinConfigIDFilter"
                                            [(ngModel)]="minConfigIDFilter" placeholder="{{l('From')}}"
                                            name="minConfigIDFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxConfigIDFilter"
                                            placeholder="{{l('To')}}" name="maxConfigIDFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ReferenceFilter">{{l("Reference")}}</label>
                                    <input type="text" class="form-control" id="ReferenceFilter" name="referenceFilter"
                                        [(ngModel)]="referenceFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="ActiveFilterSelect">{{l("Active")}}</label>
                                <select class="form-control" name="ActiveFilter" id="ActiveFilterSelect"
                                    [(ngModel)]="activeFilter">
                                    <option value="-1">{{l("All")}}</option>
                                    <option value="0">{{l("No")}}</option>
                                    <option value="1">{{l("Yes")}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="AudtUserFilter">{{l("AudtUser")}}</label>
                                    <input type="text" class="form-control" id="AudtUserFilter" name="audtUserFilter"
                                        [(ngModel)]="audtUserFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinAudtDateFilter">{{l("AudtDateRange")}}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinAudtDateFilter"
                                            name="MinAudtDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('From')}}" [(ngModel)]="minAudtDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxAudtDateFilter"
                                            name="MaxAudtDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('To')}}" [(ngModel)]="maxAudtDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="CreatedByFilter">{{l("CreatedBy")}}</label>
                                    <input type="text" class="form-control" id="CreatedByFilter" name="createdByFilter"
                                        [(ngModel)]="createdByFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinCreateDateFilter">{{l("CreateDateRange")}}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinCreateDateFilter"
                                            name="MinCreateDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('From')}}" [(ngModel)]="minCreateDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxCreateDateFilter"
                                            name="MaxCreateDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('To')}}" [(ngModel)]="maxCreateDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getRecurringVouchers($event)"
                            [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 70px"
                                        [hidden]="!isGrantedAny('Pages.RecurringVouchers.Edit', 'Pages.RecurringVouchers.Delete')">
                                        {{l('Actions')}}</th>
                                    <th style="width: 80px" pSortableColumn="docNo">
                                        {{l('DocNo')}}
                                        <p-sortIcon field="recurringVoucher.docNo"></p-sortIcon>
                                    </th>
                                    <th style="width: 70px" pSortableColumn="bookID">
                                        {{l('BookID')}}
                                        <p-sortIcon field="recurringVoucher.bookID"></p-sortIcon>
                                    </th>
                                    <th style="width: 110px" pSortableColumn="voucherNo">
                                        {{l('VoucherNo')}}
                                        <p-sortIcon field="recurringVoucher.voucherNo"></p-sortIcon>
                                    </th>
                                    <!-- <th style="width: 150px" pSortableColumn="fmtVoucherNo">
                                        {{l('FmtVoucherNo')}}
                                        <p-sortIcon field="recurringVoucher.fmtVoucherNo"></p-sortIcon>
                                    </th> -->
                                    <th style="width: 120px" pSortableColumn="voucherDate">
                                        {{l('VoucherDate')}}
                                        <p-sortIcon field="recurringVoucher.voucherDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 130px" pSortableColumn="voucherMonth">
                                        {{l('VoucherMonth')}}
                                        <p-sortIcon field="recurringVoucher.voucherMonth"></p-sortIcon>
                                    </th>
                                    <th style="width: 90px" pSortableColumn="configID">
                                        {{l('ConfigID')}}
                                        <p-sortIcon field="recurringVoucher.configID"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="reference">
                                        {{l('Reference')}}
                                        <p-sortIcon field="recurringVoucher.reference"></p-sortIcon>
                                    </th>
                                    <th style="width:80px" pSortableColumn="active">
                                        {{l('Active')}}
                                        <p-sortIcon field="recurringVoucher.active"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="audtUser">
                                        {{l('AudtUser')}}
                                        <p-sortIcon field="recurringVoucher.audtUser"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="audtDate">
                                        {{l('AudtDate')}}
                                        <p-sortIcon field="recurringVoucher.audtDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="createdBy">
                                        {{l('CreatedBy')}}
                                        <p-sortIcon field="recurringVoucher.createdBy"></p-sortIcon>
                                    </th>
                                    <th style="width: 120px" pSortableColumn="createDate">
                                        {{l('CreateDate')}}
                                        <p-sortIcon field="recurringVoucher.createDate"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 70px"
                                        [hidden]="!isGrantedAny('Pages.RecurringVouchers.Edit', 'Pages.RecurringVouchers.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-bars"></i><span class="caret"></span> {{l("")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="viewRecurringVoucherModal.show(record)">{{l('View')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.RecurringVouchers.Edit')"
                                                        (click)="createOrEditRecurringVoucherModal.show(record.recurringVoucher.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.RecurringVouchers.Delete')"
                                                        (click)="deleteRecurringVoucher(record.recurringVoucher)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:80px">
                                        <span class="ui-column-title"> {{l('DocNo')}}</span>
                                        {{record.recurringVoucher.docNo}}
                                    </td>
                                    <td style="width:70px">
                                        <span class="ui-column-title"> {{l('BookID')}}</span>
                                        {{record.recurringVoucher.bookID}}
                                    </td>
                                    <td style="width:110px">
                                        <span class="ui-column-title"> {{l('VoucherNo')}}</span>
                                        {{record.recurringVoucher.voucherNo}}
                                    </td>
                                    <!-- <td style="width:150px">
                                        <span class="ui-column-title"> {{l('FmtVoucherNo')}}</span>
                                        {{record.recurringVoucher.fmtVoucherNo}}
                                    </td> -->
                                    <td style="width:120px">
                                        <span class="ui-column-title"> {{l('VoucherDate')}}</span>
                                        <span *ngIf="record.recurringVoucher.voucherDate">
                                            {{record.recurringVoucher.voucherDate | date: 'dd/MM/yyyy'}}
                                        </span>
                                        <span *ngIf="!record.recurringVoucher.voucherDate">-</span>
                                    </td>
                                    <td style="width:130px">
                                        <span class="ui-column-title"> {{l('VoucherMonth')}}</span>
                                        {{record.recurringVoucher.voucherMonth}}
                                    </td>
                                    <td style="width:90px">
                                        <span class="ui-column-title"> {{l('ConfigID')}}</span>
                                        {{record.recurringVoucher.configID}}
                                    </td>
                                    <td style="width:200px" class="text_overflow">
                                        <span class="ui-column-title"> {{l('Reference')}}</span>
                                        {{record.recurringVoucher.reference}}
                                    </td>
                                    <td style="width:80px">
                                        <span class="ui-column-title"> {{l('Active')}}</span>
                                        <span class="ui-column-title"> {{l('Active')}}</span>
                                        <span class="kt-badge kt-badge--success kt-badge--inline"
                                            *ngIf="record.recurringVoucher.active">{{'Yes' | localize}}</span>
                                        <span class="kt-badge kt-badge--danger kt-badge--inline"
                                            *ngIf="!record.recurringVoucher.active">{{'No' | localize}}</span>
                                    </td>
                                    <td style="width:100px">
                                        <span class="ui-column-title"> {{l('AudtUser')}}</span>
                                        {{record.recurringVoucher.audtUser}}
                                    </td>
                                    <td style="width:100px">
                                        <span class="ui-column-title"> {{l('AudtDate')}}</span>
                                        <span *ngIf="record.recurringVoucher.audtDate">
                                            {{record.recurringVoucher.audtDate | date: 'dd/MM/yyyy'}}
                                        </span>
                                        <span *ngIf="!record.recurringVoucher.audtDate">-</span>
                                    </td>
                                    <td style="width:100px">
                                        <span class="ui-column-title"> {{l('CreatedBy')}}</span>
                                        {{record.recurringVoucher.createdBy}}
                                    </td>
                                    <td style="width:120px">
                                        <span class="ui-column-title"> {{l('CreateDate')}}</span>
                                        <span *ngIf="record.recurringVoucher.createDate">
                                            {{record.recurringVoucher.createDate | date: 'dd/MM/yyyy'}}
                                        </span>
                                        <span *ngIf="!record.recurringVoucher.createDate">-</span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getRecurringVouchers($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditRecurringVoucherModal #createOrEditRecurringVoucherModal (modalSave)="getRecurringVouchers()">
    </createOrEditRecurringVoucherModal>
    <viewRecurringVoucherModal #viewRecurringVoucherModal></viewRecurringVoucherModal>


</div>