<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
            </h3>
            <span class="kt-subheader__desc">
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i>
                    {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Inventory.ICELocation.Create')" (click)="createOrEdit()"
                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewICELocation")}}</button>
            </div>
        </div>

    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getAll()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px"
                                        [hidden]="!isGrantedAny('Inventory.ICELocation.Edit', 'Inventory.ICELocation.Delete')">
                                        {{l('Actions')}}</th>
										<th style="width: 150px" pSortableColumn="Id">
												{{l('Id')}}
												<p-sortIcon field="icelocation.id"></p-sortIcon>
										</th>
									<th style="width: 150px" pSortableColumn="parentId">
                                        {{l('ParentID')}}
                                        <p-sortIcon field="icelocation.parentId"></p-sortIcon>
									</th>
									<th style="width: 150px" pSortableColumn="parentDesc">
                                        {{l('ParentDesc')}}
                                        <p-sortIcon field="icelocation.parentDesc"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="locationTitle">
                                        {{l('SubArea')}}
                                        <p-sortIcon field="iclocation.locationTitle"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Inventory.ICELocation.Edit', 'Inventory.ICELocation.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-bars"></i><span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="view(record)">{{l('View')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Inventory.ICELocation.Edit')"
                                                        (click)="createOrEdit(record.iceLocation.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Inventory.ICELocation.Delete')"
                                                        (click)="delete(record.iceLocation.id)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
									</td>
									 <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Id')}}</span>
                                        {{record.iceLocation.id}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('ParentID')}}</span>
                                        {{record.iceLocation.parentId}}
									</td>
									<td style="width:150px">
                                        <span class="ui-column-title"> {{l('ParentDesc')}}</span>
                                        {{record.iceLocation.parentDesc}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('SubArea')}}</span>
                                        {{record.iceLocation.locationTitle}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getAll($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<regionsModal #regionsModal (modalSave)="getAll()" ></regionsModal>