<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("ReligionID")}} :</h6>
                        {{ item.religion.religionID }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Religion")}} :</h6>
                        {{ item.religion.religion }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Active")}} :</h6>
                        {{ item.religion.active==true? "Yes" : "No"  }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CreatedBy")}} :</h6>
                        {{ item.religion.createdBy }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CreateDate")}} :</h6>
                        {{ item.religion.createDate | momentFormat:'DD/MM/YYYY' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("AudtUser")}} :</h6>
                        {{ item.religion.audtUser }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("AudtDate")}} :</h6>
                        {{ item.religion.audtDate | momentFormat:'DD/MM/YYYY' }}
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
