<div [@routerTransition]>
  
    <div class="kt-subheader kt-grid__item">
      
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("GLAccountsPermissions")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("GLAccountsPermissionsHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.GLAccountsPermissions.Create')" (click)="createGLAccountsPermission()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewGLAccountsPermission")}}</button>
            </div>
        </div>
      
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getGLAccountsPermissions()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="UserIDFilter">{{l("UserID")}}</label>
									<input type="text" class="form-control" id="UserIDFilter" name="userIDFilter" [(ngModel)]="userIDFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinCanSeeFilter">{{l("MinMax")}} {{l("CanSee")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinCanSeeFilter" [(ngModel)]="minCanSeeFilter" placeholder="{{l('MinValue')}}" name="minCanSeeFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxCanSeeFilter" placeholder="{{l('MaxValue')}}" name="maxCanSeeFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="BeginAccFilter">{{l("BeginAcc")}}</label>
									<input type="text" class="form-control" id="BeginAccFilter" name="beginAccFilter" [(ngModel)]="beginAccFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="EndAccFilter">{{l("EndAcc")}}</label>
									<input type="text" class="form-control" id="EndAccFilter" name="endAccFilter" [(ngModel)]="endAccFilter">
								</div>
                            </div>
							<!-- <div class="col-md-3">
								<div class="form-group">
									<label for="AudtUserFilter">{{l("AudtUser")}}</label>
									<input type="text" class="form-control" id="AudtUserFilter" name="audtUserFilter" [(ngModel)]="audtUserFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinAudtDateFilter">{{l("AudtDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinAudtDateFilter" name="MinAudtDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minAudtDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxAudtDateFilter" name="MaxAudtDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxAudtDateFilter">
									</div>
                                </div>
                            </div> -->

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getGLAccountsPermissions($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.GLAccountsPermissions.Edit', 'Pages.GLAccountsPermissions.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="userID">
                                        {{l('UserID')}}
                                        <p-sortIcon field="glAccountsPermission.userID"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="canSee">
                                        {{l('CanSee')}}
                                        <p-sortIcon field="glAccountsPermission.canSee"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="beginAcc">
                                        {{l('BeginAcc')}}
                                        <p-sortIcon field="glAccountsPermission.beginAcc"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="endAcc">
                                        {{l('EndAcc')}}
                                        <p-sortIcon field="glAccountsPermission.endAcc"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="audtUser">
                                        {{l('AudtUser')}}
                                        <p-sortIcon field="glAccountsPermission.audtUser"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="audtDate">
                                        {{l('AudtDate')}}
                                        <p-sortIcon field="glAccountsPermission.audtDate"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 80px"
                                        [hidden]="!isGrantedAny('Pages.GLAccountsPermissions.Edit', 'Pages.GLAccountsPermissions.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-bar"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewGLAccountsPermissionModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.GLAccountsPermissions.Edit')"
														(click)="createOrEditGLAccountsPermissionModal.show(record.glAccountsPermission.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.GLAccountsPermissions.Delete')"
														(click)="deleteGLAccountsPermission(record.glAccountsPermission)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('UserID')}}</span>
											{{record.glAccountsPermission.userID}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('CanSee')}}</span>
											{{record.glAccountsPermission.canSee}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('BeginAcc')}}</span>
											{{record.glAccountsPermission.beginAcc}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('EndAcc')}}</span>
											{{record.glAccountsPermission.endAcc}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('AudtUser')}}</span>
											{{record.glAccountsPermission.audtUser}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('AudtDate')}}</span>
                                        <span *ngIf="record.glAccountsPermission.audtDate">
											{{record.glAccountsPermission.audtDate | momentFormat:'L'  | date:'dd/MM/yyyy'}}
                                        </span>
                                        <span *ngIf="!record.glAccountsPermission.audtDate">-</span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getGLAccountsPermissions($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditGLAccountsPermissionModal #createOrEditGLAccountsPermissionModal (modalSave)="getGLAccountsPermissions()"></createOrEditGLAccountsPermissionModal>
    <viewGLAccountsPermissionModal #viewGLAccountsPermissionModal></viewGLAccountsPermissionModal>
    
  
</div>
