.kt-header-mobile .kt-header__brand-logo-default {
  height: 52px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cc-window {
  background-color: #282a3a;
}
.cc-btn {
  background-color: #5867dd;
  border-color: #5867dd;
  color: #ffffff;
}
.cc-message {
  color: #fefefe;
}
.kt-header__topbar-username {
  color: #8a88a2 !important;
}
.kt-header__topbar .subscription-warning {
  padding-top: 32px;
}
