<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #apOptionForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="apOption.id">{{l("EditAPOption")}}</span>
                        <span *ngIf="!apOption.id">{{l("CreateNewAPOption")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="APOption_ContactPerson">{{l("ContactPerson")}}</label>
                            <input type="text" id="APOption_ContactPerson" class="form-control form-control-sm" [(ngModel)]="ContactPerson" name="ContactPerson"    readonly/>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="APOption_PhoneNo">{{l("PhoneNo")}}</label>
                            <input type="text" id="APOption_PhoneNo" class="form-control form-control-sm" [(ngModel)]="PhoneNo" name="PhoneNo"   readonly />
                        </div>
                        <div class="form-group m-form__group col-md-4">
                            <label for="APOption_DEFCURRCODE">{{l("DEFCURRCODE")}}<span class="require-field">*</span></label>
                            <div class="input-group">
                                <input class="form-control" id="CurrencyRateId" name="currencyRateId" [(ngModel)]="currencyRateId" type="text" hidden> 
                                <input type="text" id="APOption_DEFCURRCODE" class="form-control form-control-sm" [(ngModel)]="apOption.defcurrcode" name="DEFCURRCODE"   readonly  required/>    
                                <div class="input-group-append">
                                    <button class="btn btn-primary blue btn-sm" (click)="openSelectCurrencyRateModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                                </div> <div class="input-group-prepend">
                                    <button class="btn btn-danger btn-icon btn-sm" type="button" (click)="setCurrencyRateIdNull()"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                        <input class="form-control" name="apOption.currencyRateId" [(ngModel)]="apOption.currencyRateId" type="text"  hidden>
                    </div>

                    <div class="row">
                        <div class="form-group m-form__group col-md-4">
                            <label for="APOption_DEFBANKID">{{l("DEFBANKID")}}<span class="require-field"></span></label>
                            <div class="input-group"> 
                                <input type="text" id="APOption_DEFBANKID" class="form-control form-control-sm" [(ngModel)]="apOption.defbankid" name="DEFBANKID"    readonly />
                                <div class="input-group-append">
                                    <button class="btn btn-primary blue btn-sm" (click)="openSelectBankModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                                </div> <div class="input-group-prepend">
                                    <button class="btn btn-danger btn-icon btn-sm" type="button" (click)="setBankIdNull()"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                        <input class="form-control" name="apOption.bankId" [(ngModel)]="apOption.bankId" type="text"  hidden>
                        <div class="form-group col-md-8">
                            <label for="BankBANKID">{{l("")}}&nbsp;</label>
                            <input class="form-control form-control-sm" id="BankBANKID" name="bankBANKID" [(ngModel)]="bankBANKID" type="text" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="APOption_DEFPAYCODE">{{l("DEFPAYCODE")}}<span class="require-field"></span></label>
                            <select id="APOption_DEFPAYCODE" class="form-control form-control-sm" [(ngModel)]="apOption.defpaycode" name="DEFPAYCODE" >
                                <option value="1">Bank</option>
                                <option value="2">Cash</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group m-form__group col-md-4">
                            <label for="APOption_DEFVENCTRLACC">{{l("DEFVENCTRLACC")}}<span class="require-field">*</span></label>
                            <div class="input-group">  
                                <input type="text" id="APOption_DEFVENCTRLACC" class="form-control form-control-sm" [(ngModel)]="apOption.defvenctrlacc" name="DEFVENCTRLACC"    readonly required/>
                                <div class="input-group-append">
                                    <button class="btn btn-primary blue btn-sm" (click)="openSelectChartofControlModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                                </div> <div class="input-group-prepend">
                                    <button class="btn btn-danger btn-icon btn-sm" type="button" (click)="setChartofControlIdNull()"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                        <input class="form-control" name="apOption.chartofControlId" [(ngModel)]="apOption.chartofControlId" type="text"  hidden>
                        <div class="form-group col-md-8">
                            <label for="ChartofControlId">{{l("")}}&nbsp;</label>
                            <input class="form-control form-control-sm" id="ChartofControlId" name="chartofControlId" [(ngModel)]="chartofControlId" type="text" readonly>
                        </div>

                       
                    </div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!apOptionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
		 <commonServiceLookupTableModal #commonServiceLookupTableModal (modalSave)="getNewCommonServiceModal()"></commonServiceLookupTableModal>
		 <financeLookupTableModal #FinanceLookupTableModal (modalSave)="getNewFinanceModal()"></financeLookupTableModal>
		 
</div>

<style>
.form-group {
    margin-bottom: 0.8rem;
}
</style>