<div [@routerTransition]>
  
    <div class="kt-subheader kt-grid__item">
      
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("ICLocations")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("ICLocationsHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Inventory.ICLocations.Create')" (click)="createICLocation()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewICLocation")}}</button>
            </div>
        </div>
      
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getICLocations()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


                            <!-- <div class="col-md-3">
                                <div class="form-group">
									<label for="MinLocIDFilter">{{l("MinMax")}} {{l("LocID")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinLocIDFilter" [(ngModel)]="minLocIDFilter" placeholder="{{l('MinValue')}}" name="minLocIDFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxLocIDFilter" placeholder="{{l('MaxValue')}}" name="maxLocIDFilter" />
									</div>
                                </div>
                            </div> -->
							<div class="col-md-3">
								<div class="form-group">
									<label for="LocNameFilter">{{l("LocName")}}</label>
									<input type="text" class="form-control" id="LocNameFilter" name="locNameFilter" [(ngModel)]="locNameFilter">
								</div>
                            </div>
							<!-- <div class="col-md-3">
								<div class="form-group">
									<label for="LocShortFilter">{{l("LocShort")}}</label>
									<input type="text" class="form-control" id="LocShortFilter" name="locShortFilter" [(ngModel)]="locShortFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AddressFilter">{{l("Address")}}</label>
									<input type="text" class="form-control" id="AddressFilter" name="addressFilter" [(ngModel)]="addressFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="CityFilter">{{l("City")}}</label>
									<input type="text" class="form-control" id="CityFilter" name="cityFilter" [(ngModel)]="cityFilter">
								</div>
                            </div>	
							<div class="col-md-3">
								<label for="AllowRecFilterSelect">{{l("AllowRec")}}</label>
								<select class="form-control" name="AllowRecFilter" id="AllowRecFilterSelect" [(ngModel)]="allowRecFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	 -->
							<!-- <div class="col-md-3">
								<label for="AllowNegFilterSelect">{{l("AllowNeg")}}</label>
								<select class="form-control" name="AllowNegFilter" id="AllowNegFilterSelect" [(ngModel)]="allowNegFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	 -->
							<div class="col-md-3">
								<label for="ActiveFilterSelect">{{l("Active")}}</label>
								<select class="form-control" name="ActiveFilter" id="ActiveFilterSelect" [(ngModel)]="activeFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>
                            <div class="form-group col-md-6">
								<label for="maxLocIDFilter">{{l("ParentLocation")}}<span class="require-field"></span></label>
								<select id="maxLocIDFilters" class="form-control form-control-sm" name="maxLocIDFilter" [(ngModel)]="maxLocIDFilter">
									<option [value]="0">Choose Location</option>
									<option *ngFor="let loc of locations" [value]="loc.id">{{loc.displayName}}</option>
								</select>
							</div>
							<!-- <div class="col-md-3">
								<div class="form-group">
									<label for="CreatedByFilter">{{l("CreatedBy")}}</label>
									<input type="text" class="form-control" id="CreatedByFilter" name="createdByFilter" [(ngModel)]="createdByFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinCreateDateFilter">{{l("CreateDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinCreateDateFilter" name="MinCreateDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minCreateDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxCreateDateFilter" name="MaxCreateDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxCreateDateFilter">
									</div>
                                </div>
                            </div> -->
							<!-- <div class="col-md-3">
								<div class="form-group">
									<label for="AudtUserFilter">{{l("AudtUser")}}</label>
									<input type="text" class="form-control" id="AudtUserFilter" name="audtUserFilter" [(ngModel)]="audtUserFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinAudtDateFilter">{{l("AudtDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinAudtDateFilter" name="MinAudtDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minAudtDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxAudtDateFilter" name="MaxAudtDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxAudtDateFilter">
									</div>
                                </div>
                            </div> -->

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getICLocations($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Inventory.ICLocations.Edit', 'Inventory.ICLocations.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="locID">
                                        {{l('LocID')}}
                                        <p-sortIcon field="icLocation.locID"></p-sortIcon>
                                    </th> 
                                    <th style="width: 150px" pSortableColumn="locName">
                                        {{l('LocName')}}
                                        <p-sortIcon field="icLocation.locName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="locShort">
                                        {{l('LocShort')}}
                                        <p-sortIcon field="icLocation.locShort"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="address">
                                        {{l('Address')}}
                                        <p-sortIcon field="icLocation.address"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="city">
                                        {{l('City')}}
                                        <p-sortIcon field="icLocation.city"></p-sortIcon>
                                    </th>
                                    <th style="width: 180px" pSortableColumn="allowRec">
                                        {{l('AllowRec')}}
                                        <p-sortIcon field="icLocation.allowRec"></p-sortIcon>
                                    </th>
                                    <!-- <th style="width: 220px" pSortableColumn="allowNeg">
                                        {{l('AllowNeg')}}
                                        <p-sortIcon field="icLocation.allowNeg"></p-sortIcon>
                                    </th> -->
                                    <th style="width: 100px" pSortableColumn="active">
                                        {{l('Active')}}
                                        <p-sortIcon field="icLocation.active"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="createdBy">
                                        {{l('CreatedBy')}}
                                        <p-sortIcon field="icLocation.createdBy"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="createDate">
                                        {{l('CreateDate')}}
                                        <p-sortIcon field="icLocation.createDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="audtUser">
                                        {{l('AudtUser')}}
                                        <p-sortIcon field="icLocation.audtUser"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="audtDate">
                                        {{l('AudtDate')}}
                                        <p-sortIcon field="icLocation.audtDate"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Inventory.ICLocations.Edit', 'Inventory.ICLocations.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-bars"></i><span class="caret"></span> {{l("")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewICLocationModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Inventory.ICLocations.Edit')"
														(click)="createOrEditICLocationModal.show(record.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Inventory.ICLocations.Delete')"
														(click)="deleteICLocation(record)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('LocID')}}</span>
											{{record.locID}}
										</td> 
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('LocName')}}</span>
											{{record.locName}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('LocShort')}}</span>
											{{record.locShort}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Address')}}</span>
											{{record.address}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('City')}}</span>
											{{record.city}}
										</td>
                                    <td style="width:180px">
										<span class="ui-column-title"> {{l('AllowRec')}}</span>
                                        <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.allowRec">{{'Yes' | localize}}</span>
                                        <span class="kt-badge kt-badge--danger kt-badge--inline" *ngIf="!record.allowRec">{{'No' | localize}}</span>
                                    </td>
                                    <!-- <td style="width:220px">
										<span class="ui-column-title"> {{l('AllowNeg')}}</span>
                                        <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.allowNeg">{{'Yes' | localize}}</span>
                                        <span class="kt-badge kt-badge--danger kt-badge--inline" *ngIf="!record.allowNeg">{{'No' | localize}}</span>
                                    </td> -->
                                    <td style="width:100px">
										<span class="ui-column-title"> {{l('Active')}}</span>
                                        <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.active">{{'Yes' | localize}}</span>
                                        <span class="kt-badge kt-badge--danger kt-badge--inline" *ngIf="!record.active">{{'No' | localize}}</span>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('CreatedBy')}}</span>
											{{record.createdBy}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('CreateDate')}}</span>
                                        <span *ngIf="record.createDate">
											{{record.createDate | momentFormat:'L'| date: 'dd/MM/yyyy'}}
                                        </span>
                                        <span *ngIf="!record.createDate">-</span>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('AudtUser')}}</span>
											{{record.audtUser}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('AudtDate')}}</span>
                                        <span *ngIf="record.audtDate">
											{{record.audtDate | momentFormat:'L' | date: 'dd/MM/yyyy'}}
                                        </span>
                                        <span *ngIf="!record.audtDate">-</span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getICLocations($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditICLocationModal #createOrEditICLocationModal (modalSave)="getICLocations()"></createOrEditICLocationModal>
    <viewICLocationModal #viewICLocationModal></viewICLocationModal>
    
  
</div>
