<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form *ngIf="active" #openingForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="icopnHeader.id">{{l("EditOpening")}}</span>
                        <span *ngIf="!icopnHeader.id">{{l("CreateNewOpening")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

						<div class="row col-md-12">

							<div class="form-group col-md-3">
								<label for="Opening_DocNo">{{l("DOCNO")}}<span class="require-field">*</span></label>
								<input type="number" id="Opening_DocNo" class="form-control form-control-sm" [(ngModel)]="icopnHeader.docNo" name="DocNo" readonly  required/>
							</div>
							<div class="form-group col-md-3">
								<label for="GLTRHeader_DocDate">{{l("DOCDATE")}}<span class="require-field">*</span></label>
								<input 
								[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
								required class="form-control m-input  form-control-sm" type="text" bsDatepicker [(ngModel)]="icopnHeader.docDate._d" [disabled]="checkedval" id="GLTRHeader_DocDate" name="GLTRHeader_DocDate">
							</div> 
							<div class="form-group col-md-3">
								<label for="Opening_LocID">{{l("Location")}}<span class="require-field">*</span></label>
								<select id="Opening_LocID" class="form-control form-control-sm" [(ngModel)]="icopnHeader.locID" [disabled]="allowLocIDbit" name="LocID"   required>
									<option value=0>Choose Location</option>
									<option *ngFor="let loc of locations" [value]="loc.id">{{loc.displayName}}</option>
								</select>
							</div>
							<div class="form-group col-md-3">
								<label for="Opening_OrdNo">{{l("Refrence No")}}</label>
								<input type="text" id="Opening_OrdNo" class="form-control form-control-sm" [(ngModel)]="icopnHeader.ordNo" name="OrdNo"  />
							</div>
							<div class="form-group col-md-7">
								<label for="Opening_Narration">{{l("Narration")}}</label>
								<input type="text" id="Opening_Narration" class="form-control form-control-sm" [(ngModel)]="icopnHeader.narration" name="Narration"    />
							</div>
							

						</div>

						<tabset>
							<tab heading="Accounts Detail">

						<div class="row col-md-12">
							<br>
							<button type="button" class="btn btn-primary blue btn-sm" (click)="onAddRow()">Add Row</button>
							<button type="button" class="btn btn-primary blue btn-sm" (click)="onRemoveSelected()">Remove Row</button>
							<ag-grid-angular
								style="width: 100%; height: 200px;" 
								class="ag-theme-balham" 
								[rowData]="rowData" 
								[columnDefs]="columnDefs" 
								[animateRows]="true"
								(cellClicked)="cellClicked($event)"
								[suppressDragLeaveHidesColumns]="true"
								[rowSelection]="rowSelection"
								[singleClickEdit]="true"
								(cellValueChanged)="onCellValueChanged($event)"
								(gridReady)="onGridReady($event)">
							</ag-grid-angular>
						</div><br>

						<div class="row col-md-12">
							<div class="form-group col-md-2">
								<label for="Opening_TotalItems">{{l("TotalItems")}}<span class="require-field">*</span></label>
								<input type="text" id="Opening_TotalItems" class="form-control form-control-sm inputFormBoldSize"
								currencyMask
                                    [options]="{ prefix: ' ', thousands: ',', decimal: '.' }" [(ngModel)]="icopnHeader.totalItems" name="TotalItems"  required readonly/>
							</div>
							<div class="form-group col-md-2">
								<label for="Opening_TotalQty">{{l("TotalQty")}}<span class="require-field">*</span></label>
								<input type="text" id="Opening_TotalQty" class="form-control form-control-sm inputFormBoldSize"
								currencyMask
                                    [options]="{ prefix: ' ', thousands: ',', decimal: '.' }" [(ngModel)]="icopnHeader.totalQty" name="TotalQty"  required readonly/>
							</div>
							<div class="form-group col-md-2">
								<label for="Opening_TotalAmt">{{l("TotalAmt")}}<span class="require-field">*</span></label>
								<input type="text" id="Opening_TotalAmt" class="form-control form-control-sm inputFormBoldSize"
								currencyMask
                                    [options]="{ prefix: ' ', thousands: ',', decimal: '.' }" [(ngModel)]="icopnHeader.totalAmt" name="TotalAmt"  required readonly/>
							</div>
						</div>
						</tab>
						
						<tab heading="Attachment">
							<div class="form-group">
								<div class="row mt-2">
									<div class="col-md-6">
										<label for="FileAttachment">File Attachment</label>
										<p-fileUpload
													  id="FileAttachment"
													  name="FileAttachment[]"
													  [url]="uploadUrl"
													  accept=".jpg,.jpeg"
													  maxFileSize="1000000"
													  (onBeforeUpload)="onBeforeUpload($event)"
													  (onUpload)="onUpload($event)">
		
											<ng-template pTemplate="content">
												<ul *ngIf="uploadedFiles.length">
													<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
												</ul>
											</ng-template>
										</p-fileUpload>
									</div>
								</div>
								<img *ngIf="!checkImage" style="cursor: pointer;" [src]="url" alt="No image attached" width="100" height="100" (click)="open()">
		
							</div>
		
						</tab>
						</tabset>


								<!-- 
					
								<br/><div class="m-checkbox-list">
									<label for="Opening_Posted" class="kt-checkbox">
										<input id="Opening_Posted" type="checkbox" name="Posted" [(ngModel)]="adjustment.posted"> 
										{{l("Posted")}}
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="Opening_LinkDetID">{{l("LinkDetID")}}</label>
									<input type="number" id="Opening_LinkDetID" class="form-control" [(ngModel)]="adjustment.linkDetID" name="LinkDetID"  />
								</div>
					
								
					
								<br/><div class="m-checkbox-list">
									<label for="Opening_Active" class="kt-checkbox">
										<input id="Opening_Active" type="checkbox" name="Active" [(ngModel)]="adjustment.active"> 
										{{l("Active")}}
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="Opening_CreatedBy">{{l("CreatedBy")}}</label>
									<input type="text" id="Opening_CreatedBy" class="form-control" [(ngModel)]="adjustment.createdBy" name="CreatedBy"    />
								</div>
					
								<div class="form-group">
									<label for="Opening_CreateDate">{{l("CreateDate")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="createDate" id="Opening_CreateDate" name="Opening_CreateDate">
								</div>
					
								<div class="form-group">
									<label for="Opening_AudtUser">{{l("AudtUser")}}</label>
									<input type="text" id="Opening_AudtUser" class="form-control" [(ngModel)]="adjustment.audtUser" name="AudtUser"    />
								</div>
					
								<div class="form-group">
									<label for="Opening_AudtDate">{{l("AudtDate")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="audtDate" id="Opening_AudtDate" name="Opening_AudtDate">
								</div> -->
					

                </div>
				<div class="modal-footer">
					<!-- <div class="col-md-2 pull-right" *ngIf="icopnHeader.id"> -->
						<button type="button" class="btn btn-success green col-md-1" *ngIf="icopnHeader.id" [disabled]="!openingForm.form.valid"
							[buttonBusy]="processing" (click)="OpenLog()" [busyText]="l('ApprovingWithThreeDot')">
							<span>{{l("OpenLog")}}</span></button>
					<!-- </div> -->
					
					<button type="button" 
					*ngIf="icopnHeader.id && icopnHeader.approved && !icopnHeader.posted "
					class="btn btn-success green" [disabled]="!openingForm.form.valid" [buttonBusy]="processing" 
					(click)="postDoc(icopnHeader.docNo,'Posting',true)" [busyText]="l('ApprovingWithThreeDot')">
				<i class="fa fa-check"></i><span>{{l("Post")}}</span></button>
					
					
					<button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
					
					<button type="button"
						*ngIf="icopnHeader.id && !icopnHeader.approved && !icopnHeader.posted && isGranted('Inventory.Openings.Approve')"
						class="btn btn-success green" [disabled]="!openingForm.form.valid" [buttonBusy]="processing"
						(click)="approveDoc(icopnHeader.docNo,'Approval',true)" [busyText]="l('ApprovingWithThreeDot')"><i
							class="fa fa-check"></i> <span>{{l("Approve")}}</span></button>
					
							<button type="button"
						*ngIf="icopnHeader.id && icopnHeader.approved && !icopnHeader.posted && isGranted('Inventory.Openings.UnApprove')"
						class="btn btn-danger" [disabled]="!openingForm.form.valid" [buttonBusy]="processing"
						(click)="approveDoc(icopnHeader.docNo,'UnApproval',false)" [busyText]="l('ApprovingWithThreeDot')"><i
							class="fa fa-times"></i> <span>{{l("Unapprove")}}</span></button>
					
							<button type="submit" *ngIf="!icopnHeader.approved && !icopnHeader.posted" class="btn btn-primary blue"
						[disabled]="!openingForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i
							class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
				</div>
            </form>
        </div>
    </div>

</div>

<inventoryLookupTableModal #InventoryLookupTableModal (modalSave)="getNewInventoryModal()"></inventoryLookupTableModal>
<app-log #LogTableModal></app-log>

<style>
	.form-group {
		margin-bottom: 0.8rem;
	}
	.modal-dialog.modal-xl {
		max-width: 90%;
	}
</style>