<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("GLTransfer")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("GLTransferHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i>
                    {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.GLTransfer.Create')" (click)="createGLTransfer()"
                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewGLTransfer")}}</button>
            </div>
        </div>

    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getGLTransfer()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="kt-separator kt-separator--border-dashed"></div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinDocIDFilter">{{l("DOCID")}}</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinDocIDFilter"
                                            [(ngModel)]="minDocIDFilter" placeholder="{{l('From')}}"
                                            name="MinDocIDFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxDocIDFilter"
                                            placeholder="{{l('To')}}" name="maxDocIDFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinDocDateFilter">{{l("DocDateRange")}}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinDocDateFilter"
                                            name="MinDocDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('From')}}" [(ngModel)]="minDocDateFilter">
                                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxDocDateFilter"
                                            name="MaxDocDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('To')}}" [(ngModel)]="maxDocDateFilter">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="CreatedByFilter">{{l("CreatedBy")}}</label>
                                    <input type="text" class="form-control" id="CreatedByFilter" name="createdByFilter"
                                        [(ngModel)]="createdByFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinCreateDateFilter">{{l("CreateDateRange")}}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinCreateDateFilter"
                                            name="MinCreateDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('From')}}" [(ngModel)]="minCreateDateFilter">
                                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxCreateDateFilter"
                                            name="MaxCreateDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('To')}}" [(ngModel)]="maxCreateDateFilter">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="AudtUserFilter">{{l("AudtUser")}}</label>
                                    <input type="text" class="form-control" id="AudtUserFilter" name="auditUserFilter"
                                        [(ngModel)]="audtUserFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinAudtDateFilter">{{l("AudtDateRange")}}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinAudtDateFilter"
                                            name="MinAudtDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('From')}}" [(ngModel)]="minAudtDateFilter">
                                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxAudtDateFilter"
                                            name="MaxAudtDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('To')}}" [(ngModel)]="maxAudtDateFilter">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getGLTransfer($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.GLTransfer.Edit', 'Pages.GLTransfer.Delete')">
                                        {{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="docid">
                                        {{l('DOCID')}}
                                        <p-sortIcon field="glTransfer.docid"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="docdate">
                                        {{l('DocDate')}}
                                        <p-sortIcon field="glTransfer.docdate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="transferdate">
                                        {{l('TRANSFERDATE')}}
                                        <p-sortIcon field="glTransfer.transferdate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="description">
                                        {{l('Description')}}
                                        <p-sortIcon field="glTransfer.description"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="frombankid">
                                        {{l('FROMBANK')}}
                                        <p-sortIcon field="glTransfer.frombankid"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="tobankid">
                                        {{l('TOBANK')}}
                                        <p-sortIcon field="glTransfer.tobankid"></p-sortIcon>
                                    </th>
                                    <th class="text-right" style="width: 150px" pSortableColumn="transferamount">
                                        {{l('Amount')}}
                                        <p-sortIcon field="glTransfer.transferamount"></p-sortIcon>
                                    </th>
                                    <!-- <th style="width: 150px" pSortableColumn="fromlocid">
                                        {{l('FromLocID')}}
                                        <p-sortIcon field="glTransfer.fromlocid"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="frombankid">
                                        {{l('FromBankid')}}
                                        <p-sortIcon field="glTransfer.frombankid"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="fromconfigid">
                                        {{l('FromConfigID')}}
                                        <p-sortIcon field="glTransfer.fromconfigid"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="frombankaccid">
                                        {{l('FromBankAccID')}}
                                        <p-sortIcon field="glTransfer.frombankaccid"></p-sortIcon>
                                    </th> -->
                                    <th style="width: 150px" pSortableColumn="createdBy">
                                        {{l('CreatedBy')}}
                                        <p-sortIcon field="glTransfer.createdBy"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="createdOn">
                                        {{l('CreateDate')}}
                                        <p-sortIcon field="glTransfer.createdOn"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="audtuser">
                                        {{l('AudtUser')}}
                                        <p-sortIcon field="glTransfer.audtuser"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="audtdate">
                                        {{l('AudtDate')}}
                                        <p-sortIcon field="glTransfer.audtdate"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.GLTransfer.Edit', 'Pages.GLTransfer.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-bars"></i><span class="caret"></span> {{l("")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="viewGLTransferModal.show(record)">{{l('View')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.GLTransfer.Edit')"
                                                        (click)="createOrEditGLTransferModal.show(record.glTransfer.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.GLTransfer.Delete')"
                                                        (click)="deleteGLTransfer(record.glTransfer)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('DOCID')}}</span>
                                        {{record.glTransfer.docid}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('DocDate')}}</span>
                                        {{record.glTransfer.docdate | momentFormat:'DD/MM/YYYY'}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('TRANSFERDATE')}}</span>
                                        {{record.glTransfer.transferdate | momentFormat:'DD/MM/YYYY'}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Description')}}</span>
                                        {{record.glTransfer.description}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('FROMBANK')}}</span>
                                        {{record.glTransfer.frombankid}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('TOBANK')}}</span>
                                        {{record.glTransfer.tobankid}}
                                    </td>
                                    <td class="text-right" style="width:150px">
                                        <span class="ui-column-title"> {{l('Amount')}}</span>
                                        {{record.glTransfer.transferamount | number:''}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('CreatedBy')}}</span>
                                        {{record.glTransfer.createdBy}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('CreateDate')}}</span>
                                        <span *ngIf="record.glTransfer.createdOn">
                                            {{record.glTransfer.createdOn | momentFormat:'DD/MM/YYYY'}}
                                        </span>
                                        <span *ngIf="!record.glTransfer.createdOn">-</span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('AudtUser')}}</span>
                                        {{record.glTransfer.audtuser}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('AudtDate')}}</span>
                                        {{record.glTransfer.audtdate | momentFormat:'DD/MM/YYYY'}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getGLTransfer($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditGLTransferModal #createOrEditGLTransferModal (modalSave)="getGLTransfer()">
    </createOrEditGLTransferModal>
    <viewGLTransferModal #viewGLTransferModal></viewGLTransferModal>


</div>
