<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("CashAndBankConfig")}}</span>
            </h3>
            <!-- <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("GLCONFIGHeaderInfo")}}
            </span> -->
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i>
                    {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.GLCONFIG.Create')" (click)="createGLCONFIG()"
                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateCashAndBankConfig")}}</button>
            </div>
        </div>

    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getGLCONFIG()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="kt-separator kt-separator--border-dashed"></div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="AccountIDFilter">{{l("AccountID")}}</label>
                                    <input type="text" class="form-control" id="AccountIDFilter" name="accountIDFilter"
                                        [(ngModel)]="accountIDFilter">
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="BookIDFilter">{{l("VoucherTypeID")}}</label>
                                    <input type="text" class="form-control" id="BookIDFilter" name="bookIDFilter"
                                        [(ngModel)]="bookIDFilter">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getGLCONFIG($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.GLCONFIG.Edit', 'Pages.GLCONFIG.Delete')">
                                        {{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="bookID">
                                        {{l('VoucherTypeID')}}
                                        <p-sortIcon field="glconfig.bookID"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="accountID">
                                        {{l('AccountID')}}
                                        <p-sortIcon field="glconfig.accountID"></p-sortIcon>
                                    </th>

                                    <th style="width: 150px" pSortableColumn="subAccID">
                                        {{l('VoucherTypeName')}}
                                        <p-sortIcon field="glconfig.bookID"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="configID">
                                        {{l('AccountName')}}
                                        <p-sortIcon field="glconfig.accountName"></p-sortIcon>
                                    </th>



                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.GLCONFIG.Edit', 'Pages.GLCONFIG.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-bars"></i><span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="viewGLCONFIGModal.show(record)">{{l('View')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.GLCONFIG.Edit')"
                                                        (click)="createOrEditGLCONFIGModal.show(record.glconfig.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.GLCONFIG.Delete')"
                                                        (click)="deleteGLCONFIG(record.glconfig)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>

                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('VoucherTypeID')}}</span>
                                        {{record.glconfig.bookID}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('AccountID')}}</span>
                                        {{record.glconfig.accountID}}
                                    </td>

                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('VoucherTypeName')}}</span>
                                        {{record.glconfig.bookName}}
                                    </td>
                                    <td style="width:150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis" >
                                        <span class="ui-column-title"> {{l('AccountName')}}</span>
                                        {{record.glconfig.accountName}}
                                    </td>



                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getGLCONFIG($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditGLCONFIGModal #createOrEditGLCONFIGModal (modalSave)="getGLCONFIG()"></createOrEditGLCONFIGModal>
    <viewGLCONFIGModal #viewGLCONFIGModal></viewGLCONFIGModal>


</div>
