<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("taxSlabs")}}</span>
            </h3>

        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i>
                    {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('PayRoll.SlabSetup.Setup.Create')" (click)="create()"
                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateSlabSetup")}}</button>
            </div>
        </div>

    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getSlabSetup()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getSlabSetup($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px"
                                        [hidden]="!isGrantedAny('PayRoll.SlabSetup.Setup.Edit', 'PayRoll.SlabSetup.Setup.Delete')">
                                        {{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="typeID">
                                        {{l('SlabTypeID')}}
                                        <p-sortIcon field="slabSetup.typeID"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="fromSlab">
                                        {{l('FromSlab')}}
                                        <p-sortIcon field="slabSetup.fromSlab"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="toSlab">
                                        {{l('ToSlab')}}
                                        <p-sortIcon field="slabSetup.toSlab"></p-sortIcon>
                                    </th>
                                    <!-- <th style="width: 150px" pSortableColumn="rate">
                                        {{l('SlabRate')}}
                                        <p-sortIcon field="slabSetup.rate"></p-sortIcon>
                                    </th> -->
                                    <th style="width: 150px" pSortableColumn="amount">
                                        {{l('Amount')}}
                                        <p-sortIcon field="slabSetup.amount"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="active">
                                        {{l('Active')}}
                                        <p-sortIcon field="slabSetup.active"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="createdBy">
                                        {{l('CreatedBy')}}
                                        <p-sortIcon field="slabSetup.createdBy"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="createDate">
                                        {{l('CreatedDate')}}
                                        <p-sortIcon field="slabSetup.createDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="audtUser">
                                        {{l('AudtUser')}}
                                        <p-sortIcon field="slabSetup.audtUser"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="audtDate">
                                        {{l('AudtDate')}}
                                        <p-sortIcon field="slabSetup.audtDate"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('PayRoll.SlabSetup.Setup.Edit', 'PayRoll.SlabSetup.Setup.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-bars"></i><span class="caret"></span> {{l("")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <!-- <li>
                                                    <a href="javascript:;"
                                                        (click)="viewTaxSlabsModal.show(record.slabSetup)">{{l('View')}}</a>
                                                </li> -->
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('PayRoll.SlabSetup.Setup.Edit')"
                                                        (click)="createOrEditTaxSlabsModal.show(record.slabSetup.id)">{{l('Edit')}}</a>
                                                </li>
                                                <!-- <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('PayRoll.SlabSetup.Setup.Delete')"
                                                        (click)="deleteReligion(record.slabSetup)">{{l('Delete')}}</a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('typeID')}}</span>
                                        {{record.slabSetup.typeID}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('fromSlab')}}</span>
                                        {{record.slabSetup.slabFrom}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('toSlab')}}</span>
                                        {{record.slabSetup.slabTo}}
                                    </td>
                                    <!-- <td style="width:150px">
                                        <span class="ui-column-title"> {{l('rate')}}</span>
                                        {{record.slabSetup.rate}}
                                    </td> -->
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('amount')}}</span>
                                        {{record.slabSetup.amount}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Active')}}</span>
                                        <span class="kt-badge kt-badge--success kt-badge--inline"
                                            *ngIf="record.slabSetup.active">{{'Yes' | localize}}</span>
                                        <span class="kt-badge kt-badge--danger kt-badge--inline"
                                            *ngIf="!record.slabSetup.active">{{'No' | localize}}</span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('CreatedBy')}}</span>
                                        {{record.slabSetup.createdBy}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('CreateDate')}}</span>
                                        <span *ngIf="record.slabSetup.createDate">
                                            {{record.slabSetup.createDate | momentFormat:'DD/MM/YYYY'}}
                                        </span>
                                        <span *ngIf="!record.slabSetup.createDate">-</span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('AudtUser')}}</span>
                                        {{record.slabSetup.audtUser}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('AudtDate')}}</span>
                                        {{record.slabSetup.audtDate | momentFormat:'DD/MM/YYYY'}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getSlabSetup($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditTaxSlabsModal #createOrEditTaxSlabsModal (modalSave)="getSlabSetup()">
    </createOrEditTaxSlabsModal>
    <viewTaxSlabsModal #viewTaxSlabsModal></viewTaxSlabsModal>


</div>