<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="ConnectionString" value="Data Source=sbx-cnserp.e-resourceplanning.com;Initial Catalog=CNSERP_LIV;User ID=devsa;Password=cnspakistan;"/>
    <add key="ConnectionStringHRM" value="Data Source=sbx-cnserp.e-resourceplanning.com;Initial Catalog=CNSHRM_LIV;User ID=devsa;Password=cnspakistan;"/>
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
