<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("AccountID")}} :</h6>
                        {{ item.chartofControl.id }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("AccountName")}} :</h6>
                        {{ item.chartofControl.accountName }}
                    </div>



                    <div class="col-6 mb-3">
                        <h6>      {{segment1 != '' ? segment1 : "Level 1"}} :</h6>
                        {{item.controlDetailSegmentName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>      {{segment2 != '' ? segment2 : "Level 2"}} :</h6>
                        {{item.subControlDetailSegmentName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>      {{segment3 != '' ? segment3 : "Level 3"}}:</h6>
                        {{item.segmentlevel3SegmentName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("SubLedger")}} :</h6>
                        {{ item.chartofControl.subLedger !=false ? "YES":"NO" }}

                    </div>


                    <div class="col-6 mb-3">
                        <h6>{{l("Inactive")}} :</h6>

                        {{ item.chartofControl.inactive !=false ? "YES":"NO" }}
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
