<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{GloptionSetup != '' ? GloptionSetup :  l("Level2")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("GL Level 2")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-file-excel"></i> {{"ExcelOperations" | localize}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
                        <a class="dropdown-item" id="ExportSubControlDetailToExcelButton" (click)="exportToExcel()" href="javascript:;">
                            <i class="fa fa-download" style="font-size: 1rem;"></i>
                            {{'ExportToExcel' | localize}}
                        </a>
                        <a href="javascript:;" *ngIf="isGranted('SetupForms.SubControlDetails.Create')" class="no-padding">
                            <span class="fileinput-button">
                                <p-fileUpload customUpload="true"
                                        name="ExcelFileUpload"
                                        #ExcelFileUpload
                                        maxFileSize="10000000"
                                        auto="auto"
                                        accept=".csv,.xls,.xlsx"
                                        (uploadHandler)="uploadExcel($event)"
                                        (onError)="onUploadExcelError()"
                                        chooseLabel="{{'ImportFromExcel' | localize}}">
                                </p-fileUpload>
                            </span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item-text text-muted pl-3" href="#">
                            <small [innerHTML]="l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/ImportSubControlDetailSampleFile.xlsx>' + l('ClickHere') + '</a>')"></small>
                        </span>
                    </div>
                </div>
                <!-- <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i>
                    {{l("ExportToExcel")}}</button> -->
                <button *ngIf="isGranted('SetupForms.SubControlDetails.Create')" (click)="createSubControlDetail()"
                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{ GloptionSetup != '' ? ("Create New ") + GloptionSetup : l("CreateLevel2")}}</button>
            </div>
        </div>
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">

                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getSubControlDetails()" class="btn btn-primary"
                                                type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="kt-separator kt-separator--border-dashed"></div>
                            </div>

                            <div class="col-md-3">
								<div class="form-group">
									<label for="ControlDetailIdFilter">{{l("Level 1")}}</label>
									<input type="text" class="form-control" id="ControlDetailIdFilter" name="controlDetailIdFilter" [(ngModel)]="controlDetailIdFilter">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Seg2IDFilter">{{l("Level 2 ID")}}</label>
                                    <input type="text" class="form-control" id="Seg2IDFilter" name="seg2IDFilter"
                                        [(ngModel)]="seg2IDFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="SegmentNameFilter">{{l("Level 2 Description")}}</label>
                                    <input type="text" class="form-control" id="SegmentNameFilter"
                                        name="segmentNameFilter" [(ngModel)]="segmentNameFilter">
                                </div>
                            </div>
                           

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getSubControlDetails($event)"
                            [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 50px"
                                        [hidden]="!isGrantedAny('SetupForms.SubControlDetails.Edit', 'SetupForms.SubControlDetails.Delete')">
                                        {{l('Actions')}}</th>

                                    <th style="width: 100px" >
                                        {{l('Level1')}}
                                        <!-- <p-sortIcon field="subControlDetail.seg2ID"></p-sortIcon> -->
                                    </th>
                                    <th style="width: 80px" pSortableColumn="seg2ID">
                                        {{l('Level 2 ID')}}
                                        <p-sortIcon field="subControlDetail.seg2ID"></p-sortIcon>
                                    </th>
                                    <th style="width: 300px" pSortableColumn="segmentName">
                                        {{l('Level2Description')}}
                                        <p-sortIcon field="subControlDetail.segmentName"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 50px"
                                        [hidden]="!isGrantedAny('SetupForms.SubControlDetails.Edit', 'SetupForms.SubControlDetails.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-bars"></i><span class="caret"></span> {{l("")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="viewSubControlDetailModal.show(record)">{{l('View')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('SetupForms.SubControlDetails.Edit')"
                                                        (click)="createOrEditSubControlDetailModal.show(true, record.subControlDetail.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('SetupForms.SubControlDetails.Delete')"
                                                        (click)="deleteSubControlDetail(record.subControlDetail)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>

                                    <td style="width:100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis" >
                                        <span class="ui-column-title"> {{l('Id')}}</span>
                                        {{record.controlDetaildesc}}
                                    </td>
                                    <td style="width:80px">
                                        <span class="ui-column-title"> {{l('Id')}}</span>
                                        {{record.subControlDetail.seg2ID}}
                                    </td>

                                    <td style="width:300px">
                                        <span class="ui-column-title"> {{l('SegmentName')}}</span>
                                        {{record.subControlDetail.segmentName}}
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getSubControlDetails($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditSubControlDetailModal #createOrEditSubControlDetailModal (modalSave)="getSubControlDetails()">
    </createOrEditSubControlDetailModal>
    <viewSubControlDetailModal #viewSubControlDetailModal></viewSubControlDetailModal>

</div>
