<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form *ngIf="active" #receiptReturnForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="poretHeader.id">{{l("EditReceiptReturn")}}</span>
                        <span *ngIf="!poretHeader.id">{{l("CreateNewReceiptReturn")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


					<div class="row col-md-12">
						<div class="form-group col-md-3">
							<label for="ReceiptReturn_LocID">{{l("Location")}}<span class="require-field">*</span></label>
							<select id="ReceiptReturn_LocID" [disabled]="LocCheckVal" class="form-control form-control-sm" [(ngModel)]="poretHeader.locID" name="LocID"   required>
								<option value=0>Choose Location</option>
								<option *ngFor="let loc of locations" [value]="loc.id">{{loc.displayName}}</option>
							</select>
						</div>
						<div class="form-group m-form__group col-md-3 col-xs-12">
							<label for="ReceiptReturn_poDocNo">{{l("ReceiptNo")}}</label>
							<div class="input-group">  
								<input type="number" min="1" id="ReceiptReturn_poDocNo" class="form-control form-control-sm" [(ngModel)]="poretHeader.recDocNo" name="PODocNo" />
								<div class="input-group-append">
									<button class="btn btn-primary blue btn-sm" (click)="openSelectReceiptNoModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
								</div><div class="input-group-prepend">
									<button class="btn btn-danger btn-icon btn-sm" type="button" (click)="setReceiptNoNull()"><i class="fa fa-times"></i></button>
								</div>
								<div class="input-group-append">
									<button class="btn btn-primary blue btn-sm"  *ngIf="permission.isGranted('Purchase.ReceiptReturn.Edit')" (click)="getReceiptNoRecord()" type="button"><i class="fa fa-search"></i> {{l("Filter")}}</button>
								</div>
							</div>
						</div>
						<div class="form-group col-md-2">
							<label for="ReceiptReturn_DocNo">{{l("DOCNO")}}<span class="require-field">*</span></label>
							<input type="number" id="ReceiptReturn_DocNo" class="form-control form-control-sm" [(ngModel)]="poretHeader.docNo" name="DocNo" readonly  required/>
						</div>
						<div class="form-group col-md-2">
							<label for="ReceiptReturn_DocDate">{{l("DOCDATE")}}<span class="require-field">*</span></label>
							<input required 
							class="form-control m-input  form-control-sm"
							 type="text" bsDatepicker
							  [(ngModel)]="poretHeader.docDate._d"
							  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" 
							  id="ReceiptReturn_DocDate" [disabled]="checkedval" name="ReceiptReturn_DocDate"  >
						</div> 

						<div class="form-group col-md-2">
							<label for="ReceiptReturn_billDate">{{l("InvoiceDate")}}<span class="require-field">*</span></label>
							<input required 
							class="form-control m-input  form-control-sm" 
							type="text" bsDatepicker
							 [(ngModel)]="poretHeader.billDate._d"
							 [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
							 id="ReceiptReturn_billDate" disabled readonly  name="billDate">
						</div>
						<!-- <div class="form-group col-md-2">
							<button class="btn btn-primary green btn-sm  col-md-8" style="margin-top: 25px;" *ngIf="permission.isGranted('Purchase.ReceiptReturn.Edit')" (click)="getReceiptNoRecord()" type="button"><i class="fa fa-search"></i> {{l("Filter")}}</button>
						</div> -->
					</div>

					<div class="row col-md-12">
						
						  

						<div class="form-group m-form__group col-md-3">
							<label for="ReceiptReturn_ACCode">{{l("AccountID")}}</label>
							<input type="text" id="ReceiptReturn_ACCode" class="form-control form-control-sm" [(ngModel)]="poretHeader.accountID" name="accountID"    readonly required/>
						</div>
						<div class="form-group col-md-3">
							<label for="ChartofAccDesc">{{l("")}}&nbsp;</label>
							<input class="form-control form-control-sm" id="ChartofAccDesc" name="ChartofAccDesc" [(ngModel)]="chartofAccDesc" type="text" readonly>
						</div>

						<div class="form-group m-form__group col-md-3">
							<label for="ReceiptReturn_SubAccID">{{l("VenderID")}}<span class="require-field" *ngIf="IsVenderID">*</span></label>
							<input type="text" id="ReceiptReturn_SubAccID" class="form-control form-control-sm" [(ngModel)]="poretHeader.subAccID" name="subAccID" [required]="IsVenderID ? 'required' : null"   readonly/>
						</div>
						<div class="form-group col-md-3">
							<label for="SubAccDesc">{{l("")}}&nbsp;</label>
							<input class="form-control form-control-sm" id="SubAccDesc" name="subAccDesc" [(ngModel)]="subAccDesc" type="text" readonly>
						</div>

						<!-- <div class="form-group m-form__group col-md-3">
							<label for="ReceiptReturn_CCID">{{l("CostCenter")}}</label>
							<input type="text" id="ReceiptReturn_CCID" class="form-control form-control-sm" [(ngModel)]="poretHeader.ccid" name="ccID"    readonly required/>
						</div>
						<div class="form-group col-md-3">
							<label for="CostCenterDesc">{{l("")}}&nbsp;</label>
							<input class="form-control form-control-sm" id="CostCenterDesc" name="costCenterDesc" [(ngModel)]="costCenterDesc" type="text" readonly>
						</div> -->

						<div class="form-group col-md-3">
							<label for="ReceiptReturn_billNo">{{l("InvoiceNo")}}</label>
							<input type="text" id="ReceiptReturn_billNo" class="form-control form-control-sm" [(ngModel)]="poretHeader.billNo" name="billNo"   readonly />
						</div>

						<div class="form-group col-md-3">
							<label for="ReceiptReturn_OrdNo">{{l("Reference No.")}}</label>
							<input type="text" id="ReceiptReturn_OrdNo" class="form-control form-control-sm" [(ngModel)]="poretHeader.ordNo" name="OrdNo"  readonly  />
						</div>

						<div class="form-group col-md-6">
							<label for="ReceiptReturn_Narration">{{l("Narration")}}</label>
							<input type="text" id="ReceiptReturn_Narration" class="form-control form-control-sm" [(ngModel)]="poretHeader.narration" name="Narration"   readonly   />
						</div>
						<!-- <div class="form-group col-md-2" *ngIf="poretHeader.id">
							<label for="ReceiptReturn_Status">{{l("Status")}}</label>
							<input type="text" id="ReceiptReturn_Status" class="form-control form-control-sm" name="Staus" [(ngModel)]="status" style="background-color: black !important;color: white;text-align: center;font-weight: bold;"  disabled/>
						</div> -->

					</div>
						

				<br>
				<div class="row col-md-12">
					<br>
					<ag-grid-angular
						style="width: 100%; height: 200px;" 
						class="ag-theme-balham" 
						[rowData]="rowData" 
						[columnDefs]="columnDefs" 
						[animateRows]="true"
						[suppressDragLeaveHidesColumns]="true"
						[rowSelection]="rowSelection"
						[singleClickEdit]="true"
						(cellValueChanged)="onCellValueChanged($event)"
						(gridReady)="onGridReady($event)">
					</ag-grid-angular>
				</div>
				<br>

						<div class="row col-md-12">
							<div class="form-group col-md-2">
								<label for="ReceiptReturn_TotalItems">{{l("TotalItems")}}<span class="require-field">*</span></label>
								<input type="number" id="ReceiptReturn_TotalItems" class="form-control form-control-sm inputFormBoldSize" [(ngModel)]="totalItems" name="TotalItems"  required readonly/>
							</div>
							<div class="form-group col-md-2">
								<label for="ReceiptReturn_TotalQty">{{l("TotalQty")}}<span class="require-field">*</span></label>
								<input type="number" id="ReceiptReturn_TotalQty" class="form-control form-control-sm inputFormBoldSize" [(ngModel)]="poretHeader.totalQty" name="TotalQty"  required readonly/>
							</div>
							<div class="form-group col-md-2">
								<label for="ReceiptReturn_billAmt">{{l("TotalAmt")}}<span class="require-field">*</span></label>
								<input type="number" id="ReceiptReturn_billAmt" class="form-control form-control-sm inputFormBoldSize" [(ngModel)]="poretHeader.billAmt" name="billAmt"  required readonly/>
							</div>
							<div class="form-group col-md-2">
								<label for="ReceiptReturn_TotalTax">{{l("TotalTax")}}<span class="require-field">*</span></label>
								<input type="number" id="ReceiptReturn_TotalTax" class="form-control form-control-sm inputFormBoldSize" [(ngModel)]="taxAmount" name="TotalTax"  required readonly/>
							</div>
							<div class="form-group col-md-2" hidden>
								<label for="ReceiptReturn_AdditionalExp">{{l("AdditionalExp")}}<span class="require-field">*</span></label>
								<input type="number" id="ReceiptReturn_AdditionalExp" class="form-control form-control-sm inputFormBoldSize" [(ngModel)]="poretHeader.addExp" name="AdditionalExp"  required readonly/>
							</div>
							<div class="form-group col-md-2">
								<label for="ReceiptReturn_NetAmt">{{l("NetAmt")}}<span class="require-field">*</span></label>
								<input type="number" id="ReceiptReturn_NetAmt" class="form-control form-control-sm inputFormBoldSize" [(ngModel)]="poretHeader.totalAmt" name="NetAmt"  required readonly/>
							</div>
						</div>
					

                </div>
                <div class="modal-footer">
					<!-- <div class=" col-md-2 pull-right"  *ngIf="poretHeader.id"> -->
						<button type="button" class="btn btn-success green col-md-1" *ngIf="poretHeader.id" [disabled]="!receiptReturnForm.form.valid" [buttonBusy]="processing" (click)="OpenLog()" [busyText]="l('ApprovingWithThreeDot')"><span>{{l("Open Log")}}</span></button>
					<!-- </div> -->
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
					<button type="button" *ngIf="poretHeader.id && !poretHeader.posted && poretHeader.approved && isGranted('Purchase.ReceiptReturn.Process')" class="btn btn-success green"  [buttonBusy]="processing" 
							 (click)="processReceiptReturn()" [busyText]="l('ProcessingWithThreeDot')"><i class="fa fa-spinner"></i> <span>{{l("Process")}}</span></button>
					<button type="button" *ngIf="poretHeader.id && !poretHeader.approved && !poretHeader.posted && isGranted('Purchase.ReceiptReturn.Approve')" class="btn btn-success green" [disabled]="!receiptReturnForm.form.valid" [buttonBusy]="processing" (click)="approveDoc(poretHeader.docNo,'Approval',true)" [busyText]="l('ApprovingWithThreeDot')"><i class="fa fa-check"></i> <span>{{l("Approve")}}</span></button>
					<button type="button" *ngIf="poretHeader.id && poretHeader.approved && !poretHeader.posted && isGranted('Purchase.ReceiptReturn.UnApprove')" class="btn btn-danger" [disabled]="!receiptReturnForm.form.valid" [buttonBusy]="processing" (click)="approveDoc(poretHeader.docNo,'UnApproval',false)" [busyText]="l('ApprovingWithThreeDot')"><i class="fa fa-times"></i> <span>{{l("Unapprove")}}</span></button>
					<button type="submit" class="btn btn-primary blue" [disabled]="!receiptReturnForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>

<purchaseLookupTableModal #PurchaseLookupTableModal (modalSave)="getNewPurchaseModal()"></purchaseLookupTableModal>
<app-log #LogTableModal ></app-log>
<style>
	.form-group {
		margin-bottom: 0.8rem;
	}
	.modal-dialog.modal-xl {
		max-width: 90%;
	}
</style>