<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #employeeSalaryForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="LotDto.id">{{l("EditICLOT")}}</span>
                        <span *ngIf="!LotDto.id">{{l("CreateNewICLOT")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-group">

                   

                    <div class="row mt-2">
                        <div class="col-md-3">
                            <label for="EmployeeSalary_Gross_Salary">{{l("ICLOT")}}</label>
                            <input id="EmployeeSalary_Gross_Salary" class="form-control form-control-sm"
                                [(ngModel)]="LotDto.lotNo" name="Gross_Salary"  required />
                        </div>
                        <div class="col-md-3">
                            <label for="EmployeeSalary_StartDate">{{l("Manudate")}}<span
                                    class="require-field">*</span></label>
                                <input type="text" name="partyInvDate"  min="1" id="partyInvDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker class="form-control form-control-sm"  [(ngModel)]="LotDto.manfDate" required />
                                <!-- <input type="text" name="partyInvDate" min="1"  id="partyInvDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker class="form-control form-control-sm" [(ngModel)]="this.apinvDto.partyInvDate" disabled readonly   /> -->
							
                        </div>
                        <div class="col-md-3">
                            <label for="EmployeeSalary_ExpiryDate">{{l("Expirydate")}}<span
                                    class="require-field">*</span></label>
                            <input type="text" name="EmployeeSalary_ExpiryDate" id="EmployeeSalary_ExpiryDate"
                                class="form-control form-control-sm" bsDatepicker [(ngModel)]="LotDto.expiryDate"
                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" required />
                        </div>
                        <div class="col-md-1">
                            <label for="Actives">{{l("Active")}}</label>
                            <input type="checkbox" name="Actives" id="Actives"
                                class="form-control"  [(ngModel)]="LotDto.active"
                                />
                        </div>
                      
                    </div>
                   
                  
                </div>
                <br>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!employeeSalaryForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>

