<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("LocID")}} :</h6>
                        {{ item.crdrNote.locID }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("DocNo")}} :</h6>
                        {{ item.crdrNote.docNo }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("DocDate")}} :</h6>
                        {{ item.crdrNote.docDate | momentFormat:'DD/MM/YYYY' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("AccountID")}} :</h6>
                        {{ item.crdrNote.accountID }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("SL")}} :</h6>
                        {{ item.crdrNote.subAccID }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("InvoiceNo")}} :</h6>
                        {{ item.crdrNote.invoiceNo }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("SupInvNo")}} :</h6>
                        {{ item.crdrNote.partyInvNo }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("InvoiceDate")}} :</h6>
                        {{ item.crdrNote.partyInvDate | momentFormat:'DD/MM/YYYY'}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("InvAmount")}} :</h6>
                        {{ item.crdrNote.partyInvAmount }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("DrNoteAmount")}} :</h6>
                        {{ item.crdrNote.amount }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CreatedBy")}} :</h6>
                        {{ item.crdrNote.createdBy }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CreateDate")}} :</h6>
                        {{ item.crdrNote.createDate | momentFormat:'DD/MM/YYYY' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("AudtUser")}} :</h6>
                        {{ item.crdrNote.audtUser }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("AudtDate")}} :</h6>
                        {{ item.crdrNote.audtDate | momentFormat:'DD/MM/YYYY' }}
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
