<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("GLLocations")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("GLLocationsHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('SetupForms.GLLocations.Create')" (click)="createGLLocation()"
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewGLLocation")}}</button>
            </div>
        </div>

    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getGLLocations()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="LocDescFilter">{{l("LocDesc")}}</label>
									<input type="text" class="form-control" id="LocDescFilter" name="locDescFilter" [(ngModel)]="locDescFilter">
								</div>
                            </div>
							<!-- <div class="col-md-3">
								<div class="form-group">
									<label for="AuditUserFilter">{{l("AuditUser")}}</label>
									<input type="text" class="form-control" id="AuditUserFilter" name="auditUserFilter" [(ngModel)]="auditUserFilter">
								</div>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinAuditDateFilter">{{l("AuditDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinAuditDateFilter" name="MinAuditDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minAuditDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxAuditDateFilter" name="MaxAuditDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxAuditDateFilter">
									</div>
                                </div>
                            </div> -->
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinLocIdFilter">
										<!-- {{l("MinMax")}} -->
										 {{l("LocId")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinLocIdFilter" [(ngModel)]="minLocIdFilter" placeholder="{{l('From')}}" name="minLocIdFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxLocIdFilter" placeholder="{{l('To')}}" name="maxLocIdFilter" />
									</div>
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getGLLocations($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 50px" [hidden]="!isGrantedAny('SetupForms.GLLocations.Edit', 'SetupForms.GLLocations.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 70px" pSortableColumn="locId">
                                        {{l('LocId')}}
                                        <p-sortIcon field="glLocation.locId"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="locDesc">
                                        {{l('LocDesc')}}
                                        <p-sortIcon field="glLocation.locDesc"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="auditUser">
                                        {{l('AuditUser')}}
                                        <p-sortIcon field="glLocation.auditUser"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="auditDate">
                                        {{l('AuditDate')}}
                                        <p-sortIcon field="glLocation.auditDate"></p-sortIcon>
                                    </th>


                                </tr>
                            </ng-template>
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 50px"
                                        [hidden]="!isGrantedAny('SetupForms.GLLocations.Edit', 'SetupForms.GLLocations.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-bars"></i><span class="caret"></span> {{l("")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewGLLocationModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('SetupForms.GLLocations.Edit')"
														(click)="createOrEditGLLocationModal.show(record.glLocation.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('SetupForms.GLLocations.Delete')"
														(click)="deleteGLLocation(record.glLocation)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:70px">
											<span class="ui-column-title"> {{l('LocId')}}</span>
											{{record.glLocation.locId}}
										</td>
                                    <td style="width:200px" class="text_overflow">
											<span class="ui-column-title"> {{l('LocDesc')}}</span>
											{{record.glLocation.locDesc}}
										</td>
                                    <td style="width:100px">
											<span class="ui-column-title"> {{l('AuditUser')}}</span>
											{{record.glLocation.auditUser}}
										</td>
                                    <td style="width:100px">
										<span class="ui-column-title"> {{l('AuditDate')}}</span>
                                        <span *ngIf="record.glLocation.auditDate">
											{{record.glLocation.auditDate | momentFormat:'L'  | date:'dd/MM/yyyy'}}
                                        </span>
                                        <span *ngIf="!record.glLocation.auditDate">-</span>
                                    </td>


                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getGLLocations($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditGLLocationModal #createOrEditGLLocationModal (modalSave)="getGLLocations()"></createOrEditGLLocationModal>
    <viewGLLocationModal #viewGLLocationModal></viewGLLocationModal>


</div>
