<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form
                *ngIf="active"
                #adjTypeDetailsForm="ngForm"
                novalidate
                (ngSubmit)="save()"
                autocomplete="off"
            >
                <div class="modal-header">
                    <h4 class="modal-title" *ngIf="this.docType ==='earnings' " >
                        <span *ngIf="headerInfo.id">
                            
                            {{
                                l("EditEmployeeEarnings")
                            }}</span>
                            <span *ngIf="!headerInfo.id">{{
                                l("CreateNewEmployeeEarnings")
                            }}</span>
                        </h4>
                        <h4 class="modal-title" *ngIf="this.docType ==='deduction' ">
                        <span *ngIf="headerInfo.id">
                            
                        {{
                            l("EditEmployeeDeductions")
                        }}</span>
                        <span *ngIf="!headerInfo.id">{{
                            l("CreateNewEmployeeDeductions")
                        }}</span>
                    </h4>
                    <button
                        type="button"
                        class="close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-group">
                    <div class="row mt-2">
                        <div class="col-md-3">
                            <label for="DocID"
                                >{{ l("DocID")
                                }}<span class="require-field">*</span></label
                            >
                            <input
                                type="number"
                                id=""
                                class="form-control form-control-sm"
                                [(ngModel)]="headerInfo.docID"
                                name="DocID"
                                disabled
                                required
                            />
                        </div>

                        <div class="col-md-3" *ngIf="docType == 'deduction'">
                            <label for="EmployeeDeductions_DeductionType">{{
                                l("DeductionType")
                            }}</label>
                            <select
                                type="number"
                                id="EmployeeDeductions_DeductionType"
                                [disabled]="headerInfo.id"
                                class="form-control form-control-sm"
                                [(ngModel)]="headerInfo.typeID"
                                name="DeductionType"
                            >
                                <option value="0" disabled selected>
                                    Choose Deduction Type
                                </option>
                                <option
                                    *ngFor="let ded of deductionTypesDtoArray"
                                    [value]="ded.deductionTypes.typeID"
                                >
                                    {{ ded.deductionTypes.typeDesc }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3" *ngIf="docType == 'earnings'">
                            <label for="EmployeeEarnings_EarningType">{{
                                l("EarningType")
                            }}</label>
                            <select
                                type="number"
                                id="EmployeeEarnings_EarningType"
                                [disabled]="headerInfo.id"
                                class="form-control form-control-sm"
                                [(ngModel)]="headerInfo.typeID"
                                name="EarningType"
                            >
                                <option value="0" disabled selected>
                                    Choose Earning Type
                                </option>
                                <option
                                    *ngFor="let earn of earningTypesDtoArray"
                                    [value]="earn.earningTypes.typeID"
                                >
                                    {{ earn.earningTypes.typeDesc }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="DocDate">{{ l("Docdate") }}</label>
                            <input
                                type="text"
                                id="DocDate"
                                class="form-control form-control-sm"
                                [(ngModel)]="headerInfo.docdate"
                                bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                name="DeductionID"
                                (ngModelChange)="onChange($event)"
                                required
                            />
                        </div>

                        <div class="col-md-3">
                            <label for="EmployeeDeductions_SalaryYear">{{
                                l("SalaryYear")
                            }}</label>
                            <input
                                type="text"
                                style="background-color: #f4f4f4"
                                id="EmployeeDeductions_SalaryYear"
                                class="form-control form-control-sm"
                                name="SalaryYear"
                                [(ngModel)]="salaryYear"
                                required
                                readonly
                            />
                        </div>
                    </div>

                    <!-- <div class="row mt-2">
                        <div class="col-md-6">
                            <label for="EmployeeDeduction_EmployeeID">{{l("EmployeeID")}}<span
                                    class="require-field">*</span></label>
                            <div class="input-group">
                                <input type="text" style="background-color:#F4F4F4;" id="EmployeeDeductions_EmployeeID"
                                    class="form-control form-control-sm" [(ngModel)]="employeeDeductions.employeeID"
                                    name="EmployeeID" readonly required />
                                <div class="input-group-append">
                                    <button class="btn btn-primary blue btn-sm" type="button"
                                        (click)="openEmployeeModal()"><i class="fa fa-search"></i>
                                        {{l("Pick")}}</button>
                                </div>
                                <div class="input-group-prepend">
                                    <button class="btn btn-danger btn-icon btn-sm" type="button"
                                        (click)="setEmployeeNull()"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="EmployeeArrears_EmployeeName">{{l("EmployeeName")}}</label>
                            <input class="form-control form-control-sm" id="EmployeeDeduction_EmployeeName"
                                name="employeeName" [(ngModel)]="employeeDeductions.employeeName" type="text"
                                disabled />
                        </div>
                    </div> -->

                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label for="EmployeeDeductions_SalaryMonth">{{
                                l("SalaryMonth")
                            }}</label>
                            <input
                                type="text"
                                style="background-color: #f4f4f4"
                                id="EmployeeDeductions_SalaryMonth"
                                class="form-control form-control-sm"
                                name="SalaryMonth"
                                [(ngModel)]="salaryMonth"
                                required
                                readonly
                            />
                        </div>

                        <div class="col-md-4">
                            <label for="EmployeeDeductions_Amount">{{
                                l("Amount")
                            }}</label>
                            <input
                                id="EmployeeDeductions_Amount"
                                class="form-control form-control-sm"
                                [(ngModel)]="amount"
                                name="Amount"
                                currencyMask
                                [options]="{
                                    prefix: '',
                                    thousands: ',',
                                    decimal: '.'
                                }"
                            />
                        </div>
                        <div class="col-md-4">
                            <label for="EmployeeDeductions_Remarks">{{
                                l("Remarks")
                            }}</label>
                            <input
                                type="text"
                                id="EmployeeDeductions_Remarks"
                                class="form-control form-control-sm"
                                [(ngModel)]="remarks"
                                name="Remarks"
                            />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-2">
                            <button
                                type="button"
                                id="SalaryLoanStop_Fetch"
                                class="btn btn-primary"
                                name="SalaryLoanStop_Fetch"
                                (click)="getemployees()"
                            >
                                {{ l("Fetch") }}
                            </button>
                        </div>
                    </div>
                    <div class="row mt-2 col-md-12">
                        <br />
                        <ag-grid-angular
                            style="width: 100%; height: 200px"
                            class="ag-theme-balham"
                            [rowData]="rowData"
                            [columnDefs]="columnDefs"
                            [animateRows]="true"
                            [suppressDragLeaveHidesColumns]="true"
                            [rowSelection]="rowSelection"
                            [singleClickEdit]="true"
                            (cellValueChanged)="onCellValueChanged($event)"
                            (gridReady)="onGridReady($event)"
                        >
                        </ag-grid-angular>
                    </div>

                    <br />
                    <div class="m-checkbox-list">
                        <label
                            for="EmployeeDeductions_Active"
                            class="kt-checkbox"
                        >
                            <input
                                id="EmployeeDeductions_Active"
                                type="checkbox"
                                name="Active"
                                [(ngModel)]="deductionActive"
                            />
                            {{ l("Active") }}
                            <span></span>
                        </label>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button
                        [disabled]="saving"
                        type="button"
                        class="btn btn-default"
                        (click)="close()"
                    >
                        {{ l("Cancel") }}
                    </button>
                    <button *ngIf="mode != 'view'"
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="
                            !adjTypeDetailsForm.form.valid 
                        "
                        [buttonBusy]="saving"

                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<payRollLookupTableModal
    #PayRollLookupTableModal
    (modalSave)="getNewPayRollModal()"
></payRollLookupTableModal>
