<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #icopT4Form="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="icopT4.id">{{ optSetup != '' ? ("Edit ") + optSetup : l("EditICOPT4")}}</span>
                        <span *ngIf="!icopT4.id">{{optSetup != '' ? ("Create New ") + optSetup : l("CreateNewICOPT4")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                 
                                <div class="row">

								<div class="form-group col-sm-3">
									<label for="ICOPT4_OptID">{{ optSetup != '' ? optSetup : l("OptID")}} <span class="require-field">*</span></label>
									<input type="number" id="ICOPT4_OptID" class="form-control form-control-sm" [(ngModel)]="icopT4.optID" name="OptID" disabled  required/>
                                </div>
                                <div class="form-group col-sm-9">
                                    <label for="ICOPT4_DESC">{{optSetup != '' ? optSetup + (" Description") : l("Descp")}}</label>
                                    <input type="text" id="ICOP4_DESC" class="form-control form-control-sm" [(ngModel)]="icopT4.descp" name="DESC" />
                                </div>                    
                                </div>
                                <div class="m-checkbox-list">
									<label for="ICOPT4_Active" class="kt-checkbox">
										<input id="ICOPT4_Active" type="checkbox" name="Active" [(ngModel)]="icopT4.active"> 
										{{l("Active")}}
										<span></span>
									</label>
								</div>
                                
									
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!icopT4Form.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div> 