<div [@routerTransition]>



    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("Allowances")}}</span>
            </h3>
            <!-- <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="kt-subheader__desc">
                            {{l("AllowancesHeaderInfo")}}
                        </span> -->
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <!-- <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i>
                    {{l("ExportToExcel")}}</button> -->
                <button *ngIf="isGranted('PayRoll.Allowances.Transactions.Create')" (click)="createAllowances()"
                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewAllowances")}}</button>
            </div>
        </div>

    </div>


    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getAllowances()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="kt-separator kt-separator--border-dashed"></div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinDocIDFilter">{{l("MinMax")}} {{l("DocID")}}</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinDocIDFilter"
                                            [(ngModel)]="minDocIDFilter" placeholder="{{l('MinValue')}}"
                                            name="minDocIDFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxDocIDFilter"
                                            placeholder="{{l('MaxValue')}}" name="maxDocIDFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinDocdateFilter">{{l("DocdateRange")}}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinDocdateFilter"
                                            name="MinDocdateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('MinValue')}}" [(ngModel)]="minDocdateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxDocdateFilter"
                                            name="MaxDocdateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('MaxValue')}}" [(ngModel)]="maxDocdateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                            
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinDocMonthFilter">{{l("MinMax")}} {{l("DocMonth")}}</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinDocMonthFilter"
                                            [(ngModel)]="minDocMonthFilter" placeholder="{{l('MinValue')}}"
                                            name="minDocMonthFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxDocMonthFilter"
                                            placeholder="{{l('MaxValue')}}" name="maxDocMonthFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinDocYearFilter">{{l("MinMax")}} {{l("DocYear")}}</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinDocYearFilter"
                                            [(ngModel)]="minDocYearFilter" placeholder="{{l('MinValue')}}"
                                            name="minDocYearFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxDocYearFilter"
                                            placeholder="{{l('MaxValue')}}" name="maxDocYearFilter" />
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <label for="AudtUserFilter">{{l("AudtUser")}}</label>
                                    <input type="text" class="form-control" id="AudtUserFilter" name="audtUserFilter"
                                        [(ngModel)]="audtUserFilter">
                                </div>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinAudtDateFilter">{{l("AudtDateRange")}}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinAudtDateFilter"
                                            name="MinAudtDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('MinValue')}}" [(ngModel)]="minAudtDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxAudtDateFilter"
                                            name="MaxAudtDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('MaxValue')}}" [(ngModel)]="maxAudtDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <label for="CreatedByFilter">{{l("CreatedBy")}}</label>
                                    <input type="text" class="form-control" id="CreatedByFilter" name="createdByFilter"
                                        [(ngModel)]="createdByFilter">
                                </div>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinCreateDateFilter">{{l("CreateDateRange")}}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinCreateDateFilter"
                                            name="MinCreateDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('MinValue')}}" [(ngModel)]="minCreateDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxCreateDateFilter"
                                            name="MaxCreateDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('MaxValue')}}" [(ngModel)]="maxCreateDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getAllowances($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px"
                                        [hidden]="!isGrantedAny('PayRoll.Allowances.Transactions.Edit', 'PayRoll.Allowances.Transactions.Delete')">
                                        {{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="docID">
                                        {{l('DocID')}}
                                        <p-sortIcon field="allowances.docID"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="docdate">
                                        {{l('Docdate')}}
                                        <p-sortIcon field="allowances.docdate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="docMonth">
                                        {{l('DocMonth')}}
                                        <p-sortIcon field="allowances.docMonth"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="docYear">
                                        {{l('DocYear')}}
                                        <p-sortIcon field="allowances.docYear"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="audtUser">
                                        {{l('AudtUser')}}
                                        <p-sortIcon field="allowances.audtUser"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="audtDate">
                                        {{l('AudtDate')}}
                                        <p-sortIcon field="allowances.audtDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="createdBy">
                                        {{l('CreatedBy')}}
                                        <p-sortIcon field="allowances.createdBy"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="createDate">
                                        {{l('CreateDate')}}
                                        <p-sortIcon field="allowances.createDate"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('PayRoll.Allowances.Transactions.Edit', 'PayRoll.Allowances.Transactions.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-bars"></i><span class="caret"></span> {{l("")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="viewAllowancesModal.show(record)">{{l('View')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('PayRoll.Allowances.Transactions.Edit')"
                                                        (click)="createOrEditAllowancesModal.show(true,record.allowances.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('PayRoll.Allowances.Setup.Delete')"
                                                        (click)="deleteAllowances(record.allowances)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('DocID')}}</span>
                                        {{record.allowances.docID}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Docdate')}}</span>
                                        <span *ngIf="record.allowances.docdate">
                                            {{record.allowances.docdate | momentFormat:'DD/MM/YYYY'}}
                                        </span>
                                        <span *ngIf="!record.allowances.docdate">-</span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('DocMonth')}}</span>
                                        <span *ngIf="record.allowances.docMonth==1">{{'January'}}</span>
                                        <span *ngIf="record.allowances.docMonth==2">{{'February'}}</span>
                                        <span *ngIf="record.allowances.docMonth==3">{{'March'}}</span>
                                        <span *ngIf="record.allowances.docMonth==4">{{'April'}}</span>
                                        <span *ngIf="record.allowances.docMonth==5">{{'May'}}</span>
                                        <span *ngIf="record.allowances.docMonth==6">{{'June'}}</span>
                                        <span *ngIf="record.allowances.docMonth==7">{{'July'}}</span>
                                        <span *ngIf="record.allowances.docMonth==8">{{'August'}}</span>
                                        <span *ngIf="record.allowances.docMonth==9">{{'September'}}</span>
                                        <span *ngIf="record.allowances.docMonth==10">{{'October'}}</span>
                                        <span *ngIf="record.allowances.docMonth==11">{{'November'}}</span>
                                        <span *ngIf="record.allowances.docMonth==12">{{'December'}}</span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('DocYear')}}</span>
                                        {{record.allowances.docYear}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('AudtUser')}}</span>
                                        {{record.allowances.audtUser}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('AudtDate')}}</span>
                                        <span *ngIf="record.allowances.audtDate">
                                            {{record.allowances.audtDate | momentFormat:'DD/MM/YYYY'}}
                                        </span>
                                        <span *ngIf="!record.allowances.audtDate">-</span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('CreatedBy')}}</span>
                                        {{record.allowances.createdBy}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('CreateDate')}}</span>
                                        <span *ngIf="record.allowances.createDate">
                                            {{record.allowances.createDate | momentFormat:'DD/MM/YYYY'}}
                                        </span>
                                        <span *ngIf="!record.allowances.createDate">-</span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getAllowances($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditAllowancesModal #createOrEditAllowancesModal (modalSave)="getAllowances()">
    </createOrEditAllowancesModal>
    <viewAllowancesModal #viewAllowancesModal></viewAllowancesModal>


</div>