<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("Holidays")}}</span>
            </h3>
            <!-- <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("HolidaysHeaderInfo")}}
            </span> -->
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i>
                    {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('PayRoll.Holidays.Setup.Create')" (click)="createHolidays()"
                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewHolidays")}}</button>
            </div>
        </div>

    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getHolidays()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="kt-separator kt-separator--border-dashed"></div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinHolidayIDFilter">{{l("HolidayID")}}</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinHolidayIDFilter"
                                            [(ngModel)]="minHolidayIDFilter" placeholder="{{l('From')}}"
                                            name="minHolidayIDFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxHolidayIDFilter"
                                            placeholder="{{l('To')}}" name="maxHolidayIDFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinHolidayDateFilter">{{l("HolidayDateRange")}}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinHolidayDateFilter"
                                            name="MinHolidayDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('From')}}" [(ngModel)]="minHolidayDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxHolidayDateFilter"
                                            name="MaxHolidayDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('To')}}" [(ngModel)]="maxHolidayDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="HolidayNameFilter">{{l("HolidayName")}}</label>
                                    <input type="text" class="form-control" id="HolidayNameFilter"
                                        name="holidayNameFilter" [(ngModel)]="holidayNameFilter">
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <label for="ActiveFilterSelect">{{l("Active")}}</label>
                                <select class="form-control" name="ActiveFilter" id="ActiveFilterSelect"
                                    [(ngModel)]="activeFilter">
                                    <option value="-1">{{l("All")}}</option>
                                    <option value="0">{{l("False")}}</option>
                                    <option value="1">{{l("True")}}</option>
                                </select>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <label for="AudtUserFilter">{{l("AudtUser")}}</label>
                                    <input type="text" class="form-control" id="AudtUserFilter" name="audtUserFilter"
                                        [(ngModel)]="audtUserFilter">
                                </div>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinAudtDateFilter">{{l("AudtDateRange")}}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinAudtDateFilter"
                                            name="MinAudtDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('From')}}" [(ngModel)]="minAudtDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxAudtDateFilter"
                                            name="MaxAudtDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('To')}}" [(ngModel)]="maxAudtDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <label for="CreatedByFilter">{{l("CreatedBy")}}</label>
                                    <input type="text" class="form-control" id="CreatedByFilter" name="createdByFilter"
                                        [(ngModel)]="createdByFilter">
                                </div>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinCreateDateFilter">{{l("CreateDateRange")}}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinCreateDateFilter"
                                            name="MinCreateDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('From')}}" [(ngModel)]="minCreateDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxCreateDateFilter"
                                            name="MaxCreateDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{l('To')}}" [(ngModel)]="maxCreateDateFilter"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getHolidays($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px"
                                        [hidden]="!isGrantedAny('PayRoll.Holidays.Setup.Edit', 'PayRoll.Holidays.Setup.Delete')">
                                        {{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="holidayID">
                                        {{l('HolidayID')}}
                                        <p-sortIcon field="holidays.holidayID"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="holidayDate">
                                        {{l('HolidayDate')}}
                                        <p-sortIcon field="holidays.holidayDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="holidayName">
                                        {{l('HolidayName')}}
                                        <p-sortIcon field="holidays.holidayName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="active">
                                        {{l('Active')}}
                                        <p-sortIcon field="holidays.active"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="audtUser">
                                        {{l('AudtUser')}}
                                        <p-sortIcon field="holidays.audtUser"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="audtDate">
                                        {{l('AudtDate')}}
                                        <p-sortIcon field="holidays.audtDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="createdBy">
                                        {{l('CreatedBy')}}
                                        <p-sortIcon field="holidays.createdBy"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="createDate">
                                        {{l('CreateDate')}}
                                        <p-sortIcon field="holidays.createDate"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('PayRoll.Holidays.Setup.Edit', 'PayRoll.Holidays.Setup.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-bars"></i><span class="caret"></span> {{l("")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="viewHolidaysModal.show(record)">{{l('View')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('PayRoll.Holidays.Setup.Edit')"
                                                        (click)="createOrEditHolidaysModal.show(record.holidays.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('PayRoll.Holidays.Setup.Delete')"
                                                        (click)="deleteHolidays(record.holidays)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('HolidayID')}}</span>
                                        {{record.holidays.holidayID}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('HolidayDate')}}</span>
                                        <span *ngIf="record.holidays.holidayDate">
                                            {{record.holidays.holidayDate | date: 'dd/MM/yyyy'}}
                                        </span>
                                        <span *ngIf="!record.holidays.holidayDate">-</span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('HolidayName')}}</span>
                                        {{record.holidays.holidayName}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Active')}}</span>
                                        <span class="kt-badge kt-badge--success kt-badge--inline"
                                            *ngIf="record.holidays.active">{{'Yes' | localize}}</span>
                                        <span class="kt-badge kt-badge--danger kt-badge--inline"
                                            *ngIf="!record.holidays.active">{{'No' | localize}}</span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('AudtUser')}}</span>
                                        {{record.holidays.audtUser}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('AudtDate')}}</span>
                                        <span *ngIf="record.holidays.audtDate">
                                            {{record.holidays.audtDate | date: 'dd/MM/yyyy'}}
                                        </span>
                                        <span *ngIf="!record.holidays.audtDate">-</span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('CreatedBy')}}</span>
                                        {{record.holidays.createdBy}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('CreateDate')}}</span>
                                        <span *ngIf="record.holidays.createDate">
                                            {{record.holidays.createDate | date: 'dd/MM/yyyy'}}
                                        </span>
                                        <span *ngIf="!record.holidays.createDate">-</span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getHolidays($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditHolidaysModal #createOrEditHolidaysModal (modalSave)="getHolidays()"></createOrEditHolidaysModal>
    <viewHolidaysModal #viewHolidaysModal></viewHolidaysModal>


</div>
